In [1]:
import pandas as pd 

cases_all = pd.read_csv('epidemic/cases_malaysia.csv')

cases_all

,date,cases_new,cluster_import,cluster_religious,cluster_community,cluster_highRisk,cluster_education,cluster_detentionCentre,cluster_workplace
0,2020-03-16,553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-17,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03-18,117,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-19,110,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-20,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
490,2021-07-19,10972,4.0,0.0,416.0,55.0,22.0,247.0,1358.0
491,2021-07-20,12366,0.0,0.0,369.0,128.0,20.0,369.0,1062.0
492,2021-07-21,11985,0.0,19.0,463.0,107.0,89.0,77.0,952.0
493,2021-07-22,13034,0.0,2.0,611.0,72.0,52.0,191.0,1163.0
494,2021-07-23,15573,0.0,19.0,474.0,142.0,17.0,101.0,864.0